body {
    display: flex;
    padding: 20px;
    font-family: sans-serif;
}

#bokeh-plot {
    padding: 20px;
    box-sizing: border-box;
}

#hosts-details {
    width: auto;
    padding-left: 20px;
    box-sizing: border-box;
}


.portconfig-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.portconfig {
    padding: 10px;
}

.portconfig-proto > ul li {
    display: inline;
    word-wrap: break-word;
    padding: 3px;
}
.portconfig-proto > ul {
    width: 100%;
}
.portconfig-proto > li {
    width: 100%;
}

.portconfig-proto > li::before {
    content: '•';
    margin-right: 1ch;
}

.portconfig-hosts {
    padding: 10px;
    overflow: hidden;
    font-family: monospace, serif;
}

.collapsible-list.collapsed li {
  display: none;
}

.collapsible-list li:nth-child(-n+5) {
  display: list-item;
}

.collapsible-list li.more-items {
  display: block;
}

.collapsible-list.collapsed .more-items {
  display: block;
}
