{% extends "base.html" %}

{% from macros import embed %}

{% block head %}
<script type="text/javascript" src="sql-wasm.min.js"></script>
<script type="text/javascript" src="sql-aux.js"></script>
<script>const portMapTCP = {{port_map_tcp}}; const portMapUDP = {{port_map_udp}};</script>
<script type="text/javascript" src="utils.js"></script>
<script type="text/javascript" src="bokeh-aux.js"></script>
<link rel="stylesheet" href="scanscope.css" type="text/css" />
{% endblock %}

{% block content %}

<div id="bokeh-div">
  {%      for doc in docs %}
  {{        embed(doc) if doc.elementid }}
  {%-       for root in doc.roots %}
  {{            embed(root) }}
  {%        endfor %}
  {%      endfor %}
  {{ plot_script }}
</div>
<div id="hosts-details">
</div>

{% include "html-templates.html" %}

{% endblock %}
